@font-face {
  font-family: "SunBatang-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arita-dotum-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

$deepGreen: #c5f0db;
$lightGreen: #ddefe6;
$lightYello: #fdfaf6;
$lightYello2: #faf1e6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  white-space: pre;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(70deg, $deepGreen, $lightGreen);
  font-family: "SunBatang-Light";
}

button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

input {
  border: none;
}

ul {
  list-style-type: none;
  display: flex;
  margin-top: 1rem;

  li {
    padding: 1rem;

    button {
      background-color: #ff6464;
      color: #ffffff;
      padding: 1rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.memo-title,
.content-name {
  font-size: 1.5rem;
  margin: 1rem;
}

.page-description {
  font-size: 1.5rem;
  margin: 0.3rem;
}

.modal {
  font-family: "Arita-dotum-Medium";
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba($color: #535353, $alpha: 0.5);

  .inner-modal {
    position: relative;
    background: $lightYello;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 40vh;
    left: 25vw;
    width: 50vw;
    height: 40vh;
    padding: 1rem;

    input {
      width: 100%;
      height: 20%;
      border-radius: 10px;
      padding: 1rem;
      font-size: 1rem;
    }

    .btns {
      display: flex;
      justify-content: center;
      padding: 2%;

      button {
        padding: 1rem;
        border-radius: 20px;

        &:hover {
          background-color: $lightYello2;
        }
      }
    }
  }

  &.show {
    display: block;
  }
}

.memo-container {
  font-family: "Arita-dotum-Medium";
  height: 100%;
  margin-bottom: 10%;

  .memo {
    width: 80vw;
    height: 30%;
    display: flex;
    flex-direction: row;
    line-height: 2.2rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin-top: 1.5rem;
    background-color: $lightYello;
    border-radius: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   // z-index: -1;
    //   width: 80vw;
    //   height: 30%;
    //   opacity: 0;
    //   border-radius: 30px;
    //   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    //   transition: opacity 0.3s ease-in-out;
    // }

    &:hover::after {
      opacity: 1;
    }

    &:hover {
      background-color: $lightYello2;
    }

    .delete-memo {
      position: relative;
      top: 10px;
      left: 95%;
      width: 1.5rem;
      height: 1.5rem;
      content: url("../img/close.png");
    }

    .memo-img {
      height: 20vh;
      margin: 0 1.5rem 0 0;
    }

    .memo-video {
      width: 50%;
      margin: 0 1.5rem 0 0;
    }

    .title-content {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;

      h5 {
        font-size: 1.5rem;
        margin: 1rem 0 0 0;
        background-image: url("../img/yellow-underline.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      h6 {
        font-size: 1.25rem;
        margin-left: 1rem;
      }

      span {
        font-size: 1rem;
        margin-left: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page-description {
    font-size: 1.1rem;
  }

  .memo-container {
    .memo {
      flex-direction: column;

      .memo-img {
        width: 50%;
      }

      .memo-video {
        width: 92%;
        height: 20vh;
        object-fit: contain;
        margin-top: 1rem;
      }
    }
  }
}
